#bg-img {
    background-image: url('https://i.imgur.com/4YfVd5U.jpg') !important;
    height: 700px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#about {
    background-image: url('https://i.imgur.com/o0UPpbt.jpg') !important;
    height: 700px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}