#bg-img {
    background-image: url('https://i.imgur.com/Gi6TTYS.jpg?1') !important;
    height: 700px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}#bg-img1 {
    background-image: url('https://i.imgur.com/o0UPpbt.jpg') !important;
    height: 700px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}